@opencloset-basic-color: #fedc00;

body {
    padding-bottom: 50px;
}
.fa {
    width: 15px;
}
#donation-new {
    ol {
        background-color: #f5f5f5;
        padding-bottom: 10px;
        padding-top: 20px;
        margin-top: 10px;
        margin-bottom: 30px;
        border: 1px solid;
    }
    blockquote {
        font-size: 14px;
    }
}
h1 {
    background-color: @opencloset-basic-color;
    padding: 1em;
    color: black;
}
.status-waiting {
    background-color: #87b87f;
}
.status-delivering {
    background-color: #428bca;
}
.status-returning {
    background-color: #ee15fb;
}
.status-returned {
    background-color: #d15b47;
}
.status-cancel {
    background-color: #abbac3;
}
.status-discard {
    background-color: darken(#abbac3, 10%);
}
.status-registered {
    background-color: #ff3020;
}
.active {
    color: @opencloset-basic-color;
    text-shadow: @opencloset-basic-color 0 0 10px;
}
.sms-help {
    list-style: none;
    padding-left: 0;
    .label {
        display: inline-block;
        width: 60px;
    }
}
#form-parcel {
    padding-top: 1em;
}
